services:
  postgres:
    image: postgres:14
    container_name: wallet-postgres-db
    environment:
      POSTGRES_DB: walletdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    networks:
      - event-network

volumes:
  postgres-data:

networks:
  event-network:
